/*Hotbar-------------------------------------------------------------------------*/
.hotbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(195, 180, 208);

}
.hotbar, .centeredDiv{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px; 
    padding-bottom: 20px; 
    
   
}
.HotBarR1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.home, .HuskyExpo, .group-chat, .calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
}
.HotBarR1 img{
    width: auto;
}


/*Body1-------------------------------------------------------------------------*/

.containerBody1, .containerBody2{
    display: grid;
    
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8{
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    text-align: center;
}
.body1 p{
    font-family: "Times New Roman", Times, serif;
}
.body1 strong{
    font-family: Arial, Helvetica, sans-serif;
}
.column1 {
    background-color: rgb(173, 112, 227);
    padding: 10%;
}
.column2 {
    background-color: rgb(53, 12, 88);
    padding:10%;
}
.column3 {
    background-color: rgb(173, 112, 227);
    padding:10%;
}
.column4 {
    background-color: rgb(53, 12, 88);
    padding:10%;
}
.column5 {
    background-color: rgb(53, 12, 88);
    padding:10%;
}
.column6 {
    background-color: rgb(173, 112, 227);
    padding:10%;
}
.column7 {
    background-color: rgb(53, 12, 88);
    padding:10%;
}
.containerBody2 .column8 {
    background-color: rgb(173, 112, 227);
    padding:10%;
}
.body1 img{
    width: 100%; 
    height: auto;
    max-height: 50vh;
    object-fit: contain;
}




/*Sponsors-------------------------------------------------------------------------*/
.Sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: rgba(195, 180, 208);
}
.centeredDiv{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
   
}
.SponsorLogosR1{
    display: grid;
    grid-template-columns: 33% 33% 33%;

}
.SponsorLogosR2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.Corsair, .Microsft, .Monster, .twitch, .Razer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;

}
.Sponsors h1{
    text-align: center;
}
.Sponsors a{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.Sponsors img{
    width: auto;
}
/*footer-------------------------------------------------------------------------------*/
footer{
    text-align: center;
    font-size: 17px;
    padding: 30px;
    background-color: rgb(53, 12, 88);
    font-family: 'Courier New', Courier, monospace;
}
footer p{
    color: white;
}
footer a{
    color: rgb(198,159,197);
}
footer .Footer_Logo img{
    height: 100px;
    width:auto;
    text-align: center;
}
/*schedule*/
.Class-Schedule img{
    padding-bottom: 40px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto

}
.text3 h1{
    padding-top: 20px;
    text-align: center;
    
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.recruitment {
    background-color: rgb(173, 112, 227);
}

/*website scaling-------------------------------------------------------------------------*/
@media (min-width: 480px) {/*desktop view*/
    .HotBarR1 img{
        height: 15vh;
    }
    .containerBody1, .containerBody2{
        grid-template-columns: 25% 25% 25% 25%; 
        grid-template-rows: auto;
    }
    .Sponsors img{
        height: 25vh;
    }
    .body1 strong{
        font-size: 2.5vw;
    }
    .body1 p{
        font-weight: 400;
        font-size: 1.5vw;
    }
    
    .Class-Schedule img{
        width: 30vw;
    }
    .text3 h1{
        font-size: 4vh;
    }
}
@media (max-width: 479px) {/*iphone width*/
    .HotBarR1 img{
        height: 7vh;    
    }
    .containerBody1, .containerBody2{
        grid-template-columns: 50% 50%; 
        grid-template-rows: auto auto auto auto;
    }
    .Sponsors img{
        height: 15vh;
    }
    .Sponsors h1{
        font-size: 3vh;
    }
    .Sponsors h4{
        font-size: 1.5vh;
    }
    .body1 strong{
        font-size: 4vw;
    }
    .body1 p{
        font-weight: 500;
        font-size: 3.5vw;
    }

    .Class-Schedule img{
        width: 70vw;
    }
    .text3 h1{
        font-size: 2.3vh;
    }

}